::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: rgb(13, 202, 240);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  background-color: rgb(13, 202, 240) ;
  color: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
